<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Tailwind CSS -->
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-50 font-sans">

<div class="flex justify-center items-center min-h-screen">
    <div style="display: flex
;
    flex-direction: column;

    height: 100vh;
    padding-top: 10px;


    transform: scale(1.2);" class=" xl:absolute xl:top-[20%] 2xl:absolute 2xl:top-[20%] xl:max-h-[50vh] 2xl:max-h-[50vh] xl:justify-center 2xl:justify-center justify-start overflow-auto max-h-[75vh] mt-[0px]  bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h1  class="text-[20px] font-medium text-3xl  text-center text-gray-800 mb-6">Reset Your Password</h1>

        <!-- Error Message -->
        <div th:if="${message != null}" class="text-center text-red-500 mb-4" th:text="${message}"></div>

        <!-- Reset Password Form -->
        <form style="display: flex
;
    flex-direction: column;
    gap: 20px;
    align-items: center;" th:action="@{/users/reset-password}" method="post">
            <div style="text-align: center;
    display: flex
;
    flex-direction: column;
    width: 30%;
    min-width:200px;
    align-items: center;" class="mb-4">
                <label style="text-align: left;    width: 100%;
    " for="email" class="block text-gray-700 font-medium">Email</label>
                <input style="width: 100%;
    border-radius: 6px;
    border-color: lightgray;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    height: 40px;
    padding-left: 20px;
    font-size:12px;" placeholder="enter your email address" type="email" id="email" name="email" class="w-full p-3 mt-1 border border-gray-300 rounded-md" required/>
            </div>

            <div style="text-align: center;
    width: 30%;
    " class="mb-4 xl:min-w-[200px] 2xl:min-w-[200px]">
                <label style="width: 100%;
    text-align: left;" for="newPassword" class=" block text-gray-700 font-medium">New Password</label>
                <input  style="width: 100%;
    border-radius: 6px;
    border-color: lightgray;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    height: 40px;
    padding-left: 20px;
    font-size:12px;" placeholder="enter your new password" type="password" id="newPassword" name="newPassword" class="w-full p-3 mt-1 border border-gray-300 rounded-md" required/>
            </div>
            <div style="display: flex
;
    justify-content: center;
    width: 30%;
    min-width: 120px;">
                <button style="color: #fff;
    background-color: #1f883d;
    border: none;
    border-radius: 4px;
    height: 40px;" type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200 text-[12px]">Reset Password</button>

            </div>

        </form>
    </div>
</div>

</body>
</html>
